<div class="titre d-flex flex-column justify-content-center align-items-center">
	<h2>
		<span class="left" #1>P</span><span class="left" #2>o</span><span class="left" #3>r</span><span class="left" #4>t</span><span class="opacity" #5>f</span><span class="right" #6>o</span><span class="right" #7>l</span><span class="right" #8>i</span><span class="right" #9>o</span><!-- Pour que les h5 de droite aient un right:-1000px sans créer une marge énorme au <main> de app.component.html => j'ai attribué au main un overflow:hidden-->
	</h2>
	<p #p>
		Liste de mes précédents projets
	</p>
</div>

<!-- <div class="carousel d-flex flex-row align-items-center">
	<div id="carousel" class="carousel slide offset-md-3 col-md-6 offset-sm-1 col-sm-10 col-12" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel" data-slide-to="1"></li>
	    <li data-target="#carousel" data-slide-to="2"></li>
	    <li data-target="#carousel" data-slide-to="3"></li>
	    <li data-target="#carousel" data-slide-to="4"></li>
	    <li data-target="#carousel" data-slide-to="5"></li>
	  </ol>
	  <div class="carousel-inner" role="listbox">
	  	<div class="carousel-item active">
	      <a href="http://sambuca.breyn.net" target="_blank">
	      	<img class="d-block img-fluid img1" src="../assets/png/transparent.png" alt="Loading image...">
	      </a>
	      <div class="carousel-caption d-md-block">
		    <h3>Sambuca</h3>
		    <p>Angular 5</p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <a href="http://risorius.breyn.net" target="_blank">
	      	<img class="d-block img-fluid img2" src="../assets/png/transparent.png" alt="Loading image...">
	      </a>
	      <div class="carousel-caption d-md-block">
		    <h3>Risorius</h3>
		    <p>Angular 4 - NodeJS - MongoDB</p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <a href="http://angular4-project.breyn.net" target="_blank">
	      	<img class="d-block img-fluid img3" src="../assets/png/transparent.png" alt="Loading image...">
	      </a>
	      <div class="carousel-caption d-md-block">
		    <h3>Angular Project</h3>
		    <p>Projet perso</p>
		    <p>Angular 4</p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <a href="https://immense-brushlands-29521.herokuapp.com" target="_blank">
	      	<img class="d-block img-fluid img4" src="../assets/png/transparent.png" alt="Loading image...">
	      </a>
	      <div class="carousel-caption d-md-block">
		    <h3>NodeJS Project</h3>
		    <p>Projet perso</p>
		    <p>Angular 4 - NodeJS - MongoDB</p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <a href="https://www.legafrik.com" target="_blank">
	      	<img class="d-block img-fluid img5" src="../assets/png/transparent.png" target="_blank" alt="Loading image...">
	      </a>
	      <div class="carousel-caption d-md-block">
		    <h3>Legafrik</h3>
		    <p>Droit des pays d'Afrique francophone</p>
		    <p>AngularJS - Symphony 3</p>
		  </div>
	    </div>
	    <div class="carousel-item">
	      <a href="http://eatinparis-project.breyn.net" target="_blank">
	      	<img class="d-block img-fluid img6" src="../assets/png/transparent.png" alt="Loading image...">
	      </a>
	      <div class="carousel-caption d-md-block">
		    <h3>Eatin' Paris</h3>
		    <p>Projet de fin d'études</p>
		    <p>PHP</p>
		  </div>
	    </div>
	   <div class="carousel-item">
	     <a href="http://planete-ping.eatinparis-project.fr" target="_blank">
	     	<img class="d-block img-fluid" src="../../../assets/carousel/planete-ping.png" alt="PLANETE PING">
	     </a>
	     <div class="carousel-caption d-md-block">
	   		    <h3>Planète Ping</h3>
	   		    <p>Projet perso</p>
	   		    <p>HTML - CSS - JAVASCRIPT</p>
	   		  </div>
	   </div>
	  </div>
	  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div> -->

<!-- 3D Slideshow Section --> 
<section id="slideshow">
	<div class="entire-content">
		<div class="content-carrousel">
			<figure class="shadow">
				<a href="http://sambuca.breyn.net" target="_blank">
				   <img class="d-block img-fluid img1" src="../assets/png/transparent.png" alt="Loading image...">
				</a>
				<h5>Sambuca</h5>
				<h6>(Angular 4)</h6>
			</figure>
			<figure class="shadow">
				<a href="http://risorius.breyn.net" target="_blank">
			       <img class="d-block img-fluid img2" src="../assets/png/transparent.png" alt="Loading image...">
			    </a>
			    <h5>Risorius</h5>
			    <h6>(Angular 4 - NodeJS - MongoDB)</h6>
			</figure>
			<figure class="shadow">
				<a href="http://angular4-project.breyn.net" target="_blank">
	      			<img class="d-block img-fluid img3" src="../assets/png/transparent.png" alt="Loading image...">
	      		</a>
		      	<h5>Projet perso</h5>
		      	<h6>(Angular 4)</h6>
			</figure>
			<figure class="shadow">
				<a href="https://immense-brushlands-29521.herokuapp.com" target="_blank">
	      			<img class="d-block img-fluid img4" src="../assets/png/transparent.png" alt="Loading image...">
	      		</a>
	      		<h5>Projet perso</h5>
	      		<h6>(Node.js)</h6>
	  		</figure>
			<figure class="shadow">
				<a href="http://eatinparis-project.breyn.net" target="_blank">
	      			<img class="d-block img-fluid img6" src="../assets/png/transparent.png" alt="Loading image...">
	      		</a>
	      		<h5>Projet perso</h5>
	      		<h6>(PHP)</h6>
	      	</figure>
	      	<figure class="shadow">
				<a href="#contact">
					<p>(VOTRE PROJET)</p>
				</a>
	      	</figure>
		</div>
	</div>
</section>