  <h1 id="title" class="d-flex justify-content-center align-items-center">
    <em><span #1>D</span><span #2>é</span><span #3>v</span><span #4>e</span><span #5>l</span><span #6>o</span><span #7>p</span><span #8>p</span><span #9>e</span><span #10>u</span><span #11>r</span> <span #12>w</span><span #13>e</span><span #14>b</span> <span #15>f</span><span #16>r</span><span #17>e</span><span #18>e</span><span #19>l</span><span #20>a</span><span #21>n</span><span #22>c</span><span #23>e</span> <!-- <span #24>?</span> --></em>
  </h1>

  <section class="d-flex flex-sm-row flex-column justify-content-sm-around align-items-center">
    <article>
      <img src="../assets/png/transparent.png" alt="Loading image...">
      <div class="overlay">
        <div class="text">
          <h3>Breyn</h3>
          <p>
            Non, ce n'est pas mon prénom (Dieu merci). Moi, c'est Reynald. <em>Développeur web</em> exerçant sur <em>Paris</em> et sa région. 
            <br>
            Et non, je ne suis pas né <em>développeur</em>. Avant de créer des sites, la vie m'a fait passer par des études de langues, de commerce international, elle m'a fait vivre à l'étranger. Elle m'a même poussé à écrire. Puis un jour elle m'a fait découvrir le "code". Une passion est née et elle ne m'a plus quitté.
            <br>
            Depuis lors mon plus grand plaisir consiste, tel un artisan, à concevoir de A à Z le site de vos rêves, celui qui reflètera au mieux votre personnalité et vous permettra de réaliser vos objectifs.
          </p>
        </div>
      </div>
    </article>

    <article>
      <img src="../assets/png/transparent.png" alt="Loading image...">
      <div class="overlay">
        <div class="text">
          <h3>Développeur web</h3>
          <p>
            <em>Développeur web</em>, <em>webmaster</em>, <em>programmeur de sites web</em>... Autant de termes pour désigner simplement un <em>créateur de sites internet</em>, qu'on nomme aussi <i>applications web</i>. Il peut développer des applications web classiques comme des applications conçues nativement pour le mobile, bien qu'il soit courant de se spécialiser dans l'un plus que dans l'autre.<br>En gros, le <em>développeur web</em> réalise l’ensemble des fonctionnalités techniques d'une application web classique et/ou mobile. Il ou elle conçoit des sites sur mesure ou adapte des solutions techniques existantes en fonction du projet du client.
          </p>
        </div>
      </div>
    </article>
    
    <article>
      <img src="../assets/png/transparent.png" alt="Loading image...">
      <div class="overlay">
        <div class="text">
          <h3>Freelance</h3>
          <p>
            <span style="text-transform: uppercase">à</span> l'instar d'autres professions, le <em>développeur web</em> peut exercer son métier comme salarié pour le compte d'une enteprise ou être à son propre compte en tant que <em>freelance</em>. Dans ce cas il se doit de chercher lui-même ses clients qui peuvent être des particuliers mais aussi des entreprises. Le <em>freelance</em> ne compte pas ses heures mais c'est le prix de son indépendance. Sa devise : "Travailler 80h pour ne pas avoir à en faire 40".
          </p>
        </div>
      </div>
    </article>
  </section>
