nav {
	position: absolute;
    left: -2000px;
	width: 95px;
	overflow: hidden;
	border-bottom-right-radius: 20px; 
    z-index: 3;
    opacity: 0.5;
}
nav:hover {
	width: 100%;
	border-bottom-right-radius: 0;
	opacity: 1;
}

.navbar-brand {
	font-family: 'Reenie Beanie', arial;
	font-size: 31px;
}

.mx-auto li {
	margin-left: 15px;
	margin-right: 15px;
}

img {
	width: 30px;
    height: 30px;
    border-radius: 50%;
}

a {
	cursor: pointer;
}
a.nav-link {
	text-transform: uppercase;
}